<ul class="p-0 -mx-1">
  {%- for link in elsewhere -%}
  <li class="list-none inline-block">
    <a
      href="{{- link.url -}}"
      class="px-1 py-1/2 rounded border border-transparent hover:border-indigo"
    >
      <span class="">{{- link.title -}}</span>
    </a>
  </li>
  {%- endfor -%}
</ul>
