<ul class="p-0">
  {% for link in elsewhere %}
  <li class="list-none">
    <a href="{{ link.url }}" class="block py-3/4 hover:border-smoke">
      <span class="text-black font-emphasized mr-1/2">{{- link.title -}}</span>
      {{- link.description -}}
    </a>
  </li>
  {% endfor %}
</ul>
