<ul class="p-0 -mx-1">
  {%- for link in elsewhere -%}
  <li class="list-none inline-block mb-3/4 normal:mb-0">
    <a
      href="{{- link.url -}}"
      class="px-1 py-3/4 rounded border-none hover:bg-gray-10"
    >
      <span class="">{{- link.title -}}</span>
    </a>
  </li>
  {%- endfor -%}
</ul>
