<footer class="py-2 px-1 normal:px-2 text-small bg-cloud">
  <div class="container flex flex-wrap justify-between">
    <span class="font-emphasized w-full normal:w-auto">
      &copy; {{ 'now' | date: '%Y' }} {{ meta.author }}
    </span>
    <a class="text-black" href="/legal">Imprint &amp; Privacy Policy</a>
  </div>
</footer>
