<footer class="text-tiny">
  <div class="container border-t border-gray-200 mx-auto px-3 py-4">
    <div class="text-center">
      <a href="/imprint" class="mr-3">Imprint</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
  </div>
</footer>
