<footer
  class="py-2 px-1 normal:px-2 text-small uppercase font-emphasized text-gray-30 bg-gray-10"
>
  <div class="max-w-layout-max mx-auto flex flex-wrap justify-between">
    <div class="w-full normal:w-auto mb-1/2 normal:mb-0">
      &copy; {{ 'now' | date: '%Y' }}
    </div>
    <div class="normal:space-x-1">
      {% assign mailto = "mailto:" | append: meta.authorEmail %}
      {% include "footer-link", href: mailto, label: "Contact" %}

      {% include "footer-link", href: "/legal", label: "Legal & privacy" %}

      {% assign source = meta.repository | append: "/blob/master/" | append: page.inputPath %}
      {% include "footer-link", href: source, label: "View source" %}
    </div>
  </div>
</footer>
