<footer class="text-small">
  <div class="flex container border-t border-smoke py-1-1/2">
    <div class="flex-grow flex-shrink font-emphasized">
      <!-- TODO: Should come from settings -->
      &copy; 2019 Andreas Philippi
    </div>
    <div class="flex-grow-0 flex-shrink-0">
      <a href="/imprint" class="mr-1">Imprint</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
  </div>
</footer>
