<!-- <footer>
  <a href="mailto:andreasphil@icloud.com">Email</a> &middot;
  <a href="https://github.com/andreasphil">GitHub</a> &middot;
  <a href="https://linkedin.com/in/andreas-philippi">Linked In</a>
  <br>

  &copy; {{ "now" | date: "%Y" }} {{ meta.author }}.
  <a href="/legal/">Legal and privacy</a>
</footer> -->
