<footer class="py-2 px-1 normal:px-2 text-small bg-gray-10">
  <div class="max-w-layout-max m-auto flex flex-wrap justify-between">
    <span class="font-emphasized w-full normal:w-auto">
      &copy; {{ 'now' | date: '%Y' }} {{ meta.author }}
    </span>
    <div>
      <a class="text-black mr-1/2" href="/imprint">Imprint</a>
      <a class="text-black mr-1/2" href="/privacy">Privacy policy</a>
    </div>
  </div>
</footer>
