<footer class="py-2 px-1 normal:px-2 text-small text-gray-30 bg-gray-10">
  <div class="max-w-layout-max mx-auto flex flex-wrap justify-between">
    <div class="w-full normal:w-auto mb-3/4 normal:mb-0">
      &copy; {{ 'now' | date: '%Y' }} {{ meta.author }}
    </div>
    <div class="space-x-1/2">
      <a href="mailto:{{- meta.authorEmail -}}">Contact</a>
      <a href="/legal">Legal notice & privacy</a>
      <a href="{{- meta.repository -}}">View source</a>
    </div>
  </div>
</footer>
