<footer class="container my-2 text-small">
  <span class="font-emphasized mr-1">
    <!-- TODO: Should come from settings -->
    &copy; 2019 Andreas Philippi
  </span>
  <a href="/legal">Imprint &amp; Privacy Policy</a>
</footer>
