<footer class="layout footer">
  <div>
    <a class="ui-link" href="mailto:{{ meta.elsewhere.email }}">Contact</a>
    {% assign source = meta.repository | append: "/blob/master/" | append:
    page.inputPath %}
    <a class="ui-link" href="{{ source }}">View Source</a>
    <a class="ui-link" href="/legal/">Legal &amp; privacy</a>
  </div>
</footer>
