<header class="pt-2 mb-2 text-small uppercase font-emphasized">
  <div class="max-w-layout-max mx-auto flex flex-wrap justify-between">
    <div class="mr-1">
      <a href="/" title="Home" class="border-white text-black">
        {{- meta.author -}}
      </a>
    </div>
    <div class="space-x-1">
      {% for link in navigation %}
      <a
        class="border-white{% if link.url == page.url %} text-black{% endif %}"
        href="{{- link.url -}}"
      >
        {{- link.label -}}
      </a>
      {% endfor %}
    </div>
  </div>
</header>
