<header class="my-2 truncate">
  <a href="/" title="Home" class="font-emphasized border-none text-black">
    {{ meta.author }}
  </a>

  {% if title %}
  <span class="text-steel mx-1/2">&middot;</span>
  <a class="text-steel" href="{{ page.url }}">{{- title -}}</a>
  {% endif %}
</header>
