<header class="border-b border-gray-200 py-1-1/2 w-full whitespace-no-wrap overflow-auto">
  <a href="/"
    title="Home"
    class="font-emphasized text-gray-800 hover:bg-transparent border-none small:inline">
    Andreas Philippi
  </a>

  {% if title %}
  <span class="text-gray-400 mx-1/2">/</span>
  <a href="{{ url }}">{{ title }}</a>
  {% endif %}
</header>
