<header>
  <nav class="header">
    <a href="/" class="header__logo" title="Home" aria-label="Home">
      {% include "icons/bird.svg" %}
    </a>

    {% if title %}
    <span class="header__title">{{- title -}}</span>
    {% endif %}
  </nav>
</header>
