<a href="{{ url }}"
  class="
    border-none
    font-emphasized
    hover:bg-{{ color }}-100
    hover:text-{{ color }}-700
    mx-1
    px-3
    py-2
    rounded-full
    text-gray-600
  ">
  </span>
  {{- title -}}
</a>
