<nav class="
    border-b
    border-gray-200
    py-4
    text-small
  ">
  <a href="/"
    title="About"
    class="
      border-none
      font-emphasized
      hover:bg-transparent
      inline-block
      mb-2
      mr-3
      small:inline
      text-gray-900
    ">Andreas Philippi</a>
    {% for navLink in nav %}
      {% include 'nav-link', url: navLink.url, title: navLink.title, icon: navLink.icon, color: navLink.color %}
    {% endfor %}
</nav>
