<nav class="text-small border-b border-gray-200 py-4 w-full whitespace-no-wrap overflow-auto">
  <a href="/"
    title="About"
    class="
      font-emphasized
      text-gray-800
      hover:bg-transparent
      border-none
      inline-block
      small:inline
      mb-2
    ">Andreas Philippi</a>
    {% if title %}
    <span class="text-gray-400 mx-2">/</span>
    <a href="{{ url }}">{{ title }}</a>
    {% endif %}
</nav>
