<ol class="p-0">
  {% for post in collections.posts %}
  <li class="list-none">
    <a href="{{- post.url -}}" class="block py-3/4">
      {{- post.data.title -}}
    </a>
  </li>
  {% endfor %}
</ol>
