<ol class="post-list">
  {% for post in collections.posts reversed %}
  <li class="post-list__item">
    <a href="{{- post.url -}}" class="post-list__link">
      {{- post.data.title -}}
    </a>
  </li>
  {% endfor %}
</ol>
