<ol class="p-0">
  {% for post in collections.posts %}
  <li class="list-none">
    <a class="block py-1 leading-tight hover:bg-transparent hover:border-smoke" href="{{ post.url }}">
      {{- post.data.title -}}
    </a>
  </li>
  {% endfor %}
</ol>
