<ol class="p-0 -mx-1">
  {% for post in collections.posts %}
  <li class="list-none">
    <a href="{{- post.url -}}" class="block px-1 py-3/4 rounded border-none hover:bg-gray-10">
      {{- post.data.title -}}
    </a>
  </li>
  {% endfor %}
</ol>
