<ol class="project-list">
  {% for project in projects %}
  <li class="project-list__item">
    <a href="{{- project.website -}}" class="project-list__link">
      <span class="project-list__icon">{{- project.icon -}}</span>

      <span class="project-list__title">{{- project.title -}}</span>

      <span class="project-list__description">{{- project.description -}}</span>
    </a>
  </li>
  {% endfor %}
</ol>
