<div class="
    border-b
    border-gray-200
    my-4
    pb-4
    text-large
  ">
  <p>
    I'm a UX engineer based in Saarbrücken, Germany. I build user interfaces for the web at <a href="https://www.ergosign.de" rel="noreferrer">Ergosign</a>. Before that, I studied Human Computer Interaction at <a href="https://www.umu.se/utbildning/program/masterprogrammet-i-manniska-datorinteraktion-och-sociala-medier/" rel="noreferrer">Umeå Universitet</a>.
  </p>
</div>
