<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- TODO: Insert these from settings -->
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- TODO: Title should come from settings -->
    <title>{% if title %}{{ title }} | {% endif %}Andreas' Site</title>

    <link href="/static/styles.css" rel="stylesheet" />
    <link href="/favicon.png" rel="icon" />
  </head>

  <body class="antialiased font-sans text-base text-black leading-normal">
    <div class="px-1 normal:px-2 max-w-layout-max m-auto">
      {% include 'header' %}
      <main class="container my-8">
        {{ content }}
      </main>
    </div>
    {% include 'footer' %}
    <script src="/static/index.js" type="module"></script>
  </body>
</html>
