<!DOCTYPE html>
<html lang="{{ meta.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ meta.author }}" />
    <meta name="description" content="{{ meta.description }}" />
    <meta name="keywords" content="{{ meta.keywords }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/favicon.png" rel="icon" />
    <title>
      {{ meta.siteName }}{% if title %} &middot; {{ title }}{% endif %}
    </title>

    <script src="/static/index.js" data-turbolinks-track="reload"></script>

    <link
      href="/static/styles.css"
      rel="stylesheet"
      data-turbolinks-track="reload"
    />
  </head>

  <body
    class="antialiased font-sans text-base text-black leading-normal bg-white"
  >
    <div class="px-1 normal:px-2 max-w-layout-max m-auto">
      {% include 'header' %}
      <main class="container my-8">
        {{ content }}
      </main>
    </div>
    {% include 'footer' %}
  </body>
</html>
