/* -------------------------------------------------- *
 * Variables                                          *
 * -------------------------------------------------- */

:root {
  --color-white: #ffffff;
  --color-black: #393e46;
  --color-steel: #727c8d;
  --color-smoke: #eeeff1;
  --color-cloud: #f9fafa;
  --color-indigo: #7971ea;
  --color-orange: #ffdd99;
}

@tailwind base;

/* -------------------------------------------------- *
 * Layout                                             *
 * -------------------------------------------------- */

.section {
  @apply mx-auto mb-8;
}

/* -------------------------------------------------- *
 * Headlines                                          *
 * -------------------------------------------------- */

.ui-headline {
  @apply font-emphasized text-indigo uppercase text-small mb-1 mt-6;
}

h1,
h2,
h3 {
  @apply leading-tight font-emphasized;
}
h1 {
  @apply text-h1 mt-8 mb-2;
}
h2 {
  @apply text-h2 mt-4 mb-1;
}
h3 {
  @apply text-large mt-2 mb-1;
}
h1:first-child,
h2:first-child,
h3:first-child {
  @apply mt-0;
}

/* -------------------------------------------------- *
 * Blocks                                             *
 * -------------------------------------------------- */

p {
  @apply my-1;
}
p:first-child {
  @apply mt-0;
}
p:last-child {
  @apply mb-0;
}

ul,
ol {
  @apply pl-2;
}
ul > li {
  @apply list-disc;
}
ol > li {
  @apply list-decimal;
}

blockquote {
  @apply my-2 px-1 border-l-bold border-indigo;
}

pre {
  @apply bg-cloud text-small w-breakout-1 -mx-1 my-2 px-2 py-1;
}
@media (min-width: 640px) {
  pre {
    @apply w-breakout-2 -mx-2 rounded;
  }
}

img {
  @apply max-w-breakout-1 -mx-1 my-2;
}
@media (min-width: 640px) {
  img {
    @apply max-w-breakout-2 -mx-2;
  }
}

/* -------------------------------------------------- *
 * Inline                                             *
 * -------------------------------------------------- */

a {
  @apply border-b border-smoke text-steel transition;
  padding-bottom: .1rem;
}
a:hover {
  @apply border-black text-black;
}

mark {
  @apply bg-orange px-1/4;
}

strong {
  @apply font-emphasized;
}

@tailwind components;
@tailwind utilities;
