@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

.container {
  padding: 9rem 6rem;
}

.intro h1 {
  display: inline;
  font-weight: normal;
}

.intro p {
  display: inline;
}

.intro h1,
.intro p {
  /* font-family: 'Crimson Text', serif; */
  font-size: clamp(2rem, 4vw, 2.5rem);
  line-height: 1.5em;
  font-weight: 600;
}
